header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 6vw;
    min-height: 60px;
    gap: 0.6vw;
    box-shadow: 0 0px 3px 1px gray;
}

header > img {
    width: 2.275vw;
    min-width: 25px;
}

header > span {
    font-size: 1.75vw;
    font-weight: 400;
}

@media (width <= 1250px) {
    header {
        gap: 5px;
    }
    header > span {
        font-size: 18px;
    }
}